<head>
  <meta name="robots" content="index, follow">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="greg's blog">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/webp" href="/favicon.webp" sizes="128x128">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <!-- {% if page.layout == "post" %}
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | strip_html }}">
    <meta name="author" content="Greg Nesselmann">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://greg.ee/social-media.webp">
    <meta property="og:logo" content="https://greg.ee/apple-touch-icon.png">
    <meta property="article:published_time" content="{{ page.date }}">
    <meta property="og:section" content="technology">
    <meta property="og:author" content="Greg Nesselmann">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "@id": "https://greg.ee/{{ page.url }}",
        "headline": "{{ page.title }}",
        "isPartOf": {
          "@id": "https://greg.ee/#website"
        },
        "author": {
          "@type": "Person",
          "@id": "https://greg.ee/#greg",
          "url": "https://greg.ee/",
          "name": "{{ page.author | default: site.author }}"
        },
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "image": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/social-media.webp"
        },
        "url": "{{ site.url }}{{ page.url }}",
        "keywords": "{{ page.tags | join ',' }}"
      }
      </script>

    {% if page.tags %}
      {% for tag in page.tags %}
        <meta property="og:tag" content="{{ tag }}">
      {% endfor %}
    {% endif %}
  {% else %}
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="https://greg.ee/social-media.webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property="og:image:alt" content="tinkering with the web">
    <meta property="og:logo" content="https://greg.ee/apple-touch-icon.png">
    <meta property="og:type" content="website">
    <meta property="og:author" content="Greg Nesselmann">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": ["Blog", "WebSite"],
        "name": "greg's blog",
        "description": "Tinkering with the web. Pragmatic and curious. Constantly improving and sharing knowledge along the way.",
        "url": "https://greg.ee/",
        "author": {
          "@type": "Person",
          "@id": "https://greg.ee/#author",
          "name": "Greg Nesselmann"
        },
        "publisher": {
          "@type": "Organization",
          "name": "greg's blog",
          "logo": {
            "@type": "ImageObject",
            "url": "https://greg.ee/apple-touch-icon.png"
          }
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://greg.ee"
        },
        "datePublished": "{{ site.time | date_to_xmlschema }}"
      }
      </script>
  {% endif %} -->
  {% include style.html %}
  {% seo %}
</head>
