<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Greg's blog">
  {% if page.layout == "post" %}
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | strip_html }}">
    <meta name="author" content="Greg Nesselmann">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date }}">
    <meta property="og:section" content="technology">
    <meta name="author" property="og:author" content="Greg Nesselmann">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="image" property="og:image" content="https://greg.ee/social-media.png">
    <meta property="og:logo" content="https://greg.ee/apple-touch-icon.png">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        "description": "{{ page.excerpt | strip_html }}",
        "author": {
          "@type": "Person",
          "url": "https://github.com/gregness",
          "name": "{{ page.author | default: site.author }}"
        },
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "image": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/social-media.png"
        },
        "url": "{{ site.url }}{{ page.url }}",
        "keywords": "{{ page.tags | join ',' }}""
      }
      </script>

    {% if page.tags %}
      {% for tag in page.tags %}
        <meta property="og:tag" content="{{ tag }}">
      {% endfor %}
    {% endif %}
  {% else %}
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:author" content="Greg Nesselmann">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Greg's blog",
        "url": "https://greg.ee/",
        "author": {
          "@type": "Person",
          "name": "{{ site.author }}"
        }
      }
      </script>
  {% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {% include style.html %}
</head>
