<style>
  :root {
    --system-bg: oklch(25% 0 0);
    --system-text: oklch(85% 0 0);
    --system-text-lighter: oklch(90% 0 0);
    --system-text-light: oklch(95% 0 0);
    --system-text-darker: oklch(65% 0 0);
    --system-text-dark: oklch(50% 0 0);
    --global-page-padding: 1.25rem;
    --global-outline-style: solid;
    --global-outline-color: rgba(255, 255, 255, 0.25);
    --global-outline-width: 0.125rem;
    --global-outline-offset: 2px;
    --global-line-height: 1.75;
    --link-color: cornflowerblue;
  }

  html {
    accent-color: cornflowerblue;
    height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
  }

  .next, .previous {
    border: 1px solid oklch(35% 0 0);
    border-bottom-width: 3px;
    --global-outline-offset: -2px !important;
    border-radius: 0.375rem;
    font-size: 0.8rem;
  }

  @media (min-width: 480px) {
    html {
      --global-line-height: 1.625 !important;
      font-size: 18px !important;
      --global-page-padding: 1.5rem !important;
    }
  }

  @media (min-width: 640px) {
    html {
      font-size: 20px !important;
      --global-line-height: 1.5 !important;
      --global-page-padding: 2rem !important;
    }
  }


  @media (min-width: 720px) {
    html {
      font-size: 22px !important;
      --global-line-height: 1.375 !important;
      --global-page-padding: 3rem !important;
    }
  }

  @media (min-width: 960px) {
    html {
      font-size: 24px !important;
      --global-line-height: 1.25 !important;
      --global-page-padding: 5rem !important;
    }
  }

  #index {
    font-stretch: ultra-expanded;
    /* background: var(--system-text); */
    color: var(--system-text-light);
    background: seagreen;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.5 !important;
    padding-inline: 8px;
  }

  @media (max-width: 480px) {
    .next, .previous {
      font-size: 1rem;
      width: 50% !important;
    }
    .next-title, .previous-title {
      display: none;
    }

    main>header {
      text-align: center;
    }

    main {
      img {
        min-width: 240px;
        width: 50%;
        margin: 1rem auto !important;
        margin-bottom: 2rem !important;
        float: unset !important;
      }
    }
  }

  body {
    background: var(--system-bg);
    color: var(--system-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: var(--global-line-height);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: var(--global-page-padding);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  header[role="banner"] {
    padding-bottom: 1rem;
    nav {
      display: flex;
      gap: 0.625rem;
      a {
        --global-outline-offset: 4px !important;
      }
    }
  }

  main[role="main"] {
    width: fit-content;

    img {
      width: 50% !important;
      margin-left: 2ch;
      margin-bottom: 2ch;
      float: right;
    }

    header {
      margin-bottom: 1rem;
    }
  }

  footer {
    padding-bottom: 1rem;
  }

  small {
    font-size: 80%;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.125rem;
  }

  h1,
  h2,
  h3 {
    font-weight: 600;
    font-stretch: semi-expanded;
    color: var(--system-text-lighter);
    text-wrap: balance;
    line-height: 1 !important;
    margin: 0;
  }

  p {
    text-wrap: pretty;

    &:first-of-type {
      margin-top: 0
    }
  }

  a {
    &:not([class]) {
      color: var(--link-color);
    }

    color: inherit;

    :not(p)>& {
      display: block;
      border-radius: 0.125rem;
    }

    :is(p)>& {
      text-decoration: underline;
      border-radius: 0.125rem;
      outline-color: var(--link-color);

      &:focus:not(:active) {
        outline-color: var(--link-color);
        text-decoration: none;
      }

      &:active {
        outline-color: var(--link-color);
        outline-offset: var(--global-outline-offset);
        outline-style: var(--global-outline-style);
        outline-width: var(--global-outline-width);
        text-decoration: none;
      }
    }

    text-decoration: none;

    :not(p)>&:hover {
      outline-color: var(--global-outline-color);
      outline-offset: var(--global-outline-offset);
      outline-style: var(--global-outline-style);
      outline-width: var(--global-outline-width);
    }
  }

  :focus-visible {
    outline-color: var(--global-outline-color);
    outline-offset: var(--global-outline-offset);
    outline-style: var(--global-outline-style);
    outline-width: var(--global-outline-width);
  }

  ul {
    padding: 0;
    list-style: none
  }

  .text-darker {
    color: var(--system-text-darker);
  }


  .text-dark {
    color: var(--system-text-dark);
  }

  .py-5 {
    padding-block: 1rem
  }

  .py-4 {
    padding-block: 0.75rem
  }

  .py-3 {
    padding-block: 0.375rem
  }

  .py-2 {
    padding-block: 0.25rem
  }

  .py-1 {
    padding-block: 0.125rem
  }

  .px-5 {
    padding-inline: 1rem
  }

  .px-4 {
    padding-inline: 0.75rem
  }

  .px-3 {
    padding-inline: 0.375rem
  }

  .px-2 {
    padding-inline: 0.25rem
  }

  .px-1 {
    padding-inline: 0.125rem
  }

  .fw-bold {
    font-weight: 700
  }

  .fw-semibold {
    font-weight: 600
  }

  .fw-medium {
    font-weight: 500
  }

  .fw-normal {
    font-weight: 400
  }

  .fw-light {
    font-weight: 300
  }

  .large {
    font-size: 120%;
  }

  .small {
    font-size: 80%
  }

  .lh-1 {
    line-height: 1
  }

  .lh-md {
    line-height: 1.25
  }

  .lh-lg {
    line-height: 1.5
  }
</style>
