<style>
  html, body {
    height: 100%;
  }
  body {
    justify-content: center;
    margin: 0 auto;
    min-height: 100%;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    max-width: 48ch;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @media (max-width: 480px) {
    main {
      border-radius: 0 !important;
    }
  }

  main {
    padding-top: 2rem;
    padding-inline: 2rem;
    padding-bottom: 1rem;
    align-content: center;
    background: whitesmoke;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.125)
  }
  time {
    margin-top: 0;
    white-space: nowrap;
    font-size: smaller;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  code {
    background: #272822;
    color: #f8f8f2;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
  }
  footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  p { text-wrap: pretty }
  a {
    color: inherit;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
  }
  body>header {
    padding-block: 1rem;
    text-align: center;
  }
  h1,
  h2,
  h3 {
    text-wrap: balance;
    margin: 0;
    line-height: 1;
  }
  h1 {
    font-size: 1.5em;
  }

  figure {
    margin: 0;
    padding: 0.125rem 1rem;
    border-radius: 0.25rem;
  }

  hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .d-flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }

  .d-flex-col {
    display: flex;
    flex-direction: column;
  }

  .rounded-1 {
    border-radius: 0.125rem;
  }

  .rounded-2 {
    border-radius: 0.25rem;
  }
  .rounded-3 {
    border-radius: 0.5rem;
  }

  .gap-1 {
    gap: 0.25rem;
  }

  .gap-2 {
    gap: 0.5rem;
  }

  .gap-3 {
    gap: 0.75rem;
  }

  .gap-4 {
    gap: 1rem;
  }

  .back {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: inherit;
    border-radius: 50%;
    border: 1px solid;
    padding-inline: 5px;
    float: left;
    text-decoration: none;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
</style>
<link href="syntax.css" rel="stylesheet">
