---
layout: default
---
<article>
  <header class="text-center" style="margin-bottom: 1.5rem">
    <!-- <time datetime="{{ page.date | date_to_xmlschema}}" class="opacity-50">
      {{ page.date | date_to_long_string: "ordinal" }}
    </time> -->
    <h2>{{ page.title }}</h>
  </header>
  {{ content }}
</article>
<nav class="d-flex-col gap-1" style="margin-top: 2rem">
  <a href="/" class="text-center" style="text-decoration-style: wavy; text-underline-offset: 3px">Back to all posts</a>
  <!-- <a href="{% if page.next.url %}{{ page.next.url }}{% endif %}" class="{% if page.next.url %}{% else %}disabled{% endif %}">
    {{ page.next.title }}
  </a>
  <a href="{% if page.previous.url %} {{ page.previous.url }} {% endif %}" class="{% if page.previous.url %}{% else %}disabled{% endif %}">
    {{ page.previous.title }}
  </a> -->
</nav>
